@charset "UTF-8";

/* 전체틀 width */
section.layout,
div.layout,
footer.layout	{
	min-width:1200px;
	width:100%;
	margin:0 auto;
}

.wrap { width:100%; margin:0 auto; position:relative; min-width:1200px; max-width:1919px; }




header.layout {

}
header.subvisual {

}

.holder { width:1200px; height:0px; margin:0 auto; font-size:0; }

/* 각각 배경이 필요한 경우 처리 */

	/* body의 배경 */
	body			{}

	/* 각 위치의 width 100% 배경 */
	.wrap-header		{ position:fixed; top:0; left:0; right:0; z-index:4; width:100%; margin:0 auto; min-width:1200px; max-width:1919px; text-align:center; }
	.wrap-main			{}
	.wrap-content		{}
	.wrap-footer		{}

	/* 각 위치의 전체틀 width 배경 */
	header.layout	 }
	section.layout	{}
	div.layout		{ position:relative; width:100%; height:90px; background:#171717; }
	footer.layout	{ width:100%; height:270px; margin:0 auto; background:#d6bfa8;}
	footer.layout  .position { position:relative;}



